<!DOCTYPE html>
<html>
  <head >
    <title>eHR</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: "all" %>
    <%= javascript_include_tag 'application', media: "all" %>
  </head>

  <body >
    <span>第一次</span>
    <%= yield %>
  </body>
</html>
